.popup-content h3 {
  color: #333;
  font-weight: 800;
  margin-bottom: 0px !important;
  font-size: 14px;
}

.popup-content img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-top: 10px;
}

.popup-content span {
  color: #9a9a9a;
  font-size: 12px;
  text-decoration: none;
}
